# Generated headers:
/OposConstants/OposConstants.h
/zBelt/Belt.h
/zBillAcceptor/BillAcceptor.h
/zBillDispenser/BillDispenser.h
/zBiometrics/Biometrics.h
/zBumpBar/BumpBar.h
/zCashChanger/CashChanger.h
/zCashDrawer/CashDrawer.h
/zCAT/CAT.h
/zCheckScanner/CheckScanner.h
/zCoinAcceptor/CoinAcceptor.h
/zCoinDispenser/CoinDispenser.h
/zElectronicJournal/ElectronicJournal.h
/zElectronicValueRW/ElectronicValueRW.h
/zElectronicValueRW-Gen/ElectronicValueRW-Gen.h
/zFiscalPrinter/FiscalPrinter.h
/zGate/Gate.h
/zImageScanner/ImageScanner.h
/zItemDispenser/ItemDispenser.h
/zKeylock/Keylock.h
/zLights/Lights.h
/zLineDisplay/LineDisplay.h
/zMICR/MICR.h
/zMotionSensor/MotionSensor.h
/zMSR/MSR.h
/zPINPad/PINPad.h
/zPointCardRW/PointCardRW.h
/zPOSKeyboard/POSKeyboard.h
/zPOSPower/POSPower.h
/zPOSPrinter/POSPrinter.h
/zRemoteOrderDisplay/RemoteOrderDisplay.h
/zRFIDScanner/RFIDScanner.h
/zScale/Scale.h
/zScanner/Scanner.h
/zSigCap/SigCap.h
/zSmartCardRW/SmartCardRW.h
/zToneIndicator/ToneIndicator.h
/zTotals/Totals.h

# Generated code:
*_i.c
*_p.c
dlldata.c

# IDE stuff:
Debug/
/*.opensdf
/*.sdf
/*.suo
